<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
  <header>
    <img src="../static/img/mimi.jpg">
    <h1>Jeff's Blog</h1>
    <ul>
      <li><a href="#">About Me</a></li>
      <li><a href="#">Best Poems</a></li>
      <li><a href="#">Worst Poems</a></li>
    </ul>
  </header>
<article>
  <h2>Beverage</h2>
  <p>Coffee or tea? That is the question. To drink or not tot drink? That should be the bigger question. However, is it 
  really necesarry should be the biggest question of them all. Cause whats the point of taking in something into your system thats not to be of use to you? Isn't that the same as taking it and pouring it out into the drains? My friends, to what ends do we have to go to realize that wasting is not to be part of our own being? We may have it in abundance now, but what of days to come?</p>
  <button>Like</button>
  </article>

<article>
  <h2>Passion</h2>
  <p>They say that when you find something worth living for, you go at it the whole way. You will yourself waking up every single morning, each day a little bit more earlier, just to see it come to pass. When you find something worth living for, evrything else seems to become meaningless and all you long to do each day of your life, every second, every minute, every hour is to dwell in the presence of your passion. The converse is true. When you fail to find something worth living for, all you do is waste away in the verbode endless space of time, waiting patiently, and at times impatiently, for your death to come and take you away.</p>
  <button>Like</button>
  </article>

<script type="text/javascript">
	$("button").on("click", function() {
    alert("clicked!")
  });
</script>
</body>
</html>